nav {
    margin-top: 33px;
display: flex;
justify-content: center;

flex-direction: column;
}
@media screen and (min-width: 400px) and (orientation:landscape) {
    nav {
        display: flex;
        flex-direction: row;
    }
    .menu
    {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }                
}
    
